[submodule "barrydobson/themes/beautifulhugo"]
	path = barrydobson/themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "barrydobson/themes/terminal"]
	path = barrydobson/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
